@font-face
  font-family: "svn-manus"
  src: url("../assets/fonts/SVN-MANUS.OTF") format("opentype")
body
  font-family: $content-font
  margin: 0
  padding: 0
ul
  margin: 0
  padding: 0
li
  list-style-type: none

a
  text-decoration: none
  display: block
p
  font-family: $content-font

h1, h2, h3, h4, h5, h6
  margin: 0
  &.center
    text-align: center

.hand
  font-family: "svn-manus", sans-serif
  font-weight: normal
  color: $secondary-color
h1.hand
  font-size: 90px
h2.hand
  font-size: 50px
  line-height: 1
h3.hand
  font-size: 40px
  line-height: 1em
.hand.normal
  text-transform: none
  letter-spacing: 0
  font-weight: normal
  margin-bottom: 0
h3
  font-size: 24px
  font-weight: 700
  &.red
    color: $secondary-color
  &.smaller
    font-size: 20px
h4
  font-size: 16px
  letter-spacing: 1px
  // text-transform: uppercase
.container
  max-width: 1010px
  width: 100%
  margin: 0 auto
.separator
  max-width: 628px
  height: 2px
  background: rgba(#000, .8)
  width: 100%
  margin: 35px 0
  &.wide
    max-width: none
span.text-small
  font-size: 12px
  font-style: italic

.quote
  h4
    letter-spacing: 1.5px
    font-size: 18px
    text-align: center
    font-weight: 400
    padding: 60px 0
    line-height: 2
    position: relative
    &::before, &::after
      content: ''
      height: 30px
      width: 40px
      position: absolute
      left: calc(50% - 20px)
      background-repeat: no-repeat
    &::before
      background-image: url('../assets/quote-open.png')
      top: 0

    &::after
      background-image: url('../assets/quote-close.png')
      bottom: 0
.quote-2
  p
    position: relative
    &::before, &::after
      content: ''
      height: 60px
      width: 60px
      position: absolute
      background-repeat: no-repeat
    &::before
      background-image: url('../assets/close-impact.png')
      left: -70px
      top: -70px
    &::after
      background-image: url('../assets/open-impact.png')
      right: -70px
      bottom: -70px

.tag
  min-width: 168px
  text-align: center
  letter-spacing: 1px
  background: $secondary-color
  color: white
  padding: 10px
  cursor: default
  display: inline-block
.btn
  text-transform: uppercase
  color: white
  padding: 15px
  background-color: #ddd
  display: inline-block
  letter-spacing: 1.5px
  font-size: 16px
  text-align: center
  transition: background-color .2s ease
  &.btn-primary
    background-color: $secondary-color
    &:hover
      background-color: #80181b
  &.small-special
    padding: 10px 25px
    max-width: 277px
    width: 100%
    text-transform: none
    letter-spacing: .5px
    font-size: 14px

  &.big
    max-width: 445px
    width: 100%
  &.small
    padding: 8px 25px

#ngoc-app
  background-image: url('../assets/pattern.jpg')
  // margin-top: 180px
.preload#preload
  position: fixed
  width: 100%
  background: white
  z-index: 999
  height: 100vh
  transition: all .5s ease
  &.hide
    opacity: 0
    pointer-events: none
    visibility: hidden
  img
    max-height: 65vh
    animation-name: imgAnimation
    animation-duration: 5s
    animation-timing-function: ease
    animation-fill-mode: forwards
  h1
    position: relative
    animation-name: textAnimation
    animation-duration: .5s
    animation-timing-function: ease
    animation-fill-mode: forwards
@keyframes imgAnimation
  0%
    opacity: 0
    transform: translateX(0)
  100%
    transform: translateX(-20%)
    opacity: 1

@keyframes textAnimation
  from
    opacity: 0
    transform: translateX(-100%)
  to
    opacity: 1
    transform: translateX(10%)

section.full-height
  min-height: 100vh

.card-global
  width: calc(100% / 3 - 16px)
  .img-holder
    width: 100%
    height: 215px
  img
    width: 100%
    height: 100%
    object-fit: cover
  span.time
    display: inline-block
    padding: 20px 0
    font-size: 12px
    font-style: italic
    font-weight: 600
  p.text-card
    text-align: left
    font-size: 14px
    line-height: 1.7
    margin: 0

.col-half
  width: 50%
  min-width: 50%
