nav
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15)
  position: absolute
  width: 100%
  background: #fff
  top: 0
  z-index: 100
  .cart-icon
    width: 14px
    position: relative
    top: 2px
    padding: 3px

  // transition: transform .4s ease
  &.minified
    position: fixed
    .bottom
      background: $secondary-color
      li.active a
        color: white
        font-weight: 700
      li a
        color: rgba(white, .85)
        &:hover
          color: white
        &::before
          background: #fff
  .top
    background: $third-color
    min-height: 36px
    li, a
      color: $secondary-color
      position: relative
    li
      &.active
        .search-bar
          display: block
        .caller
          background: $secondary-color
          color: #fff
          border-radius: 0 3px 3px 0
      .search-bar
        position: absolute
        width: 280px
        right: 5px
        height: 100%
        display: none
        &:hover
          a
            // visibility: visible
        a
          // visibility: hidden
          position: absolute
          &:hover
            background: transparent!important
            color: $secondary-color!important
        input
          padding: 7px 40px
          // padding-left: 40px
          border: none
          background: rgba(255, 255, 255, 0.4)
          font-size: 12px
          // border-bottom: solid 2px #bbb
          padding-bottom: 5px
          margin: 0
          // margin-top: 7px
          &:focus
            // border-color: $secondary-color
        ::-webkit-input-placeholder
          font-size: 12px
        ::-moz-placeholder
          font-size: 12px
        :-ms-input-placeholder
          font-size: 12px
        :-moz-placeholder
          font-size: 12px
    a
      padding: 0 3px
    #lang-select li:first-child
      a
        padding-left: 0
    #top-tools
      a
        margin: 0 5px
        i
          font-size: 1.325rem
          padding: 3px 0
        &:hover
          background: $secondary-color
          color: white
          border-radius: 3px
          .cart-icon
            filter: brightness(100)
      li:last-child
        a
          margin-right: 0
  .middle
    padding: 30px 0
    padding-bottom: 18px
    img
      max-width: 64px
  .bottom
    transition: background .2s ease

    li
      position: relative
      .dropdown-menu
        position: absolute
        top: 100%
        background: $secondary-color
        width: 100%
        display: none
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15)

        li
          width: 100%
          box-sizing: border-box
          padding: 0 10px

          &:hover
            background: $third-color
            a
              background: $third-color
              color: #7a8184
          &:last-child
            a
              border-bottom: 0
        li a
          color: #fff
          white-space: nowrap
          font-size: 12px
          font-weight: 400!important
          padding: 14px 0px
          text-align: center
          border-bottom: solid 1px #fff
          &::before
            display: none

    li
      &:hover
        .dropdown-menu
          display: block
        a
          &::before
            width: 100%
    a
      text-transform: uppercase
      color: rgba(black, .9)
      letter-spacing: 1px
      padding: 0 35px
      padding-top: 20px
      padding-bottom: 15px
      position: relative
      font-size: .875rem
      transition: color .2s ease
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        height: 3px
        width: 0
        background: $secondary-color
        transition: all .2s ease

    li.active
      a
        color: $secondary-color
      // a::before
      //   width: 100%


footer
  background: $secondary-color
  padding: 40px 0
  color: white
  .small-info
    max-width: 282px
  .item
    width: 50%
    padding: 0 27px
    &:first-child
      border-right: solid 2px #fff
    &:last-child
      margin-left: 75px
      width: calc(50% - 75px)
  .footer-nav
    p.title
      margin-bottom: 10px
    a
      color: #fff
      font-size: 12px
      display: inline-block
      &:hover
        text-decoration: underline
    & > div
      width: 50%
  ul.social
    li
      margin: 0 10px
      display: flex
      align-items: center
      &:nth-child(2)
        a
          font-size: 24px
      &:nth-child(3)
        a
          font-size: 32px
          position: relative
          top: 2px
    a
      color: #fff
      font-size: 28px

  p
    font-size: 12px
    &.title
      font-size: 14px
      font-weight: 700
  a#logo
    margin: 14px
    margin-left: 0
    margin-right: 28px
    img
      max-width: 60px
