nav
  box-shadow: 0 0 10px rgba(black, .2)
  .top
    background: $third-color
    min-height: 42px
    li, a
      color: $secondary-color
    a
      padding: 0 3px
    #lang-select li:first-child
      a
        padding-left: 0
    #top-tools
      a
        margin: 0 5px
        i
          font-size: 1.325rem
          padding: 3px 0
        &:hover
          background: $secondary-color
          color: white
      li:last-child
        a
          margin-right: 0
  .middle
    padding: 23px 0
    img
      max-width: 64px
  .bottom
    a
      text-transform: uppercase
      color: rgba(black, .9)
      letter-spacing: 1px
      padding: 0 10px
      padding-bottom: 15px
      position: relative
      font-size: .875rem
      &::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        height: 3px
        width: 0
        background: $secondary-color
        transition: all .2s ease
      &:hover
        &::before
          width: 100%
    li.active
      a
        color: $secondary-color
      // a::before
      //   width: 100%
