.banner
  max-height: 330px
  overflow: hidden
  background: #000
  &.big
    max-height: 683px
  &.top
    max-height: 510px
  img
    width: 100%
  &.collection-footer
    position: relative
    &::after
      content: ''
      position: absolute
      height: 100%
      width: 100%
      background-color: $secondary-color
      z-index: 5
      top: 0
      left: 0
      transition: width 1.275s cubic-bezier(0.75, 0.03, 0.25, 1)
      transition-delay: .3s
    &.add::after
      width: 0
  #banner-footer
    transition: all 30s ease
    &.add
      transform: translateY(-50%)
.main-content
  &.cart
    padding: 50px 0
    padding-top: 230px
  .special
    p
      margin: 0
      text-align: left
      padding-left: 80px
  img.symbol-1
    max-width: 120px
    margin: 20px
    margin-top: 30px
  p
    font-size: 14px
    text-align: center
    line-height: 2
    // max-width: 810px
    max-width: 810px
    color: $dark
    &.full
      max-width: none
    &.wide
      max-width: 900px
    &.left
      text-align: left
    &.sub
      font-size: 12px
    &.right
      text-align: right
  h3
    text-transform: uppercase
    letter-spacing: 2px
    margin-bottom: 20px
    &.a-margin
      margin-bottom: 5px
.caller
  padding: 64px 0
  img
    max-width: 170px
  .line-handler
    position: relative
    margin-bottom: 20px
    &.no-margin
      margin-bottom: 0
    &::before, &::after
      content: ''
      height: 2px
      width: 220px
      position: absolute
      background: rgba(#000, .8)
      top: 50%
    &::before
      left: calc(-100% - 80px)
    &::after
      right: calc(-100% - 80px)
.pattern-show
  max-width: 880px
  margin: 0 auto
  width: 100%
  position: relative
  a.see-more
    position: absolute
    bottom: 28px
    right: -15%
    transform: rotateZ(90deg)
    color: $secondary-color
    font-size: 16px
  .pattern-content
    width: calc(100% / 4 - 16px)
    &:nth-child(even)
      height: 85vh
      // height: 676px
    &:nth-child(odd)
      height: 60vh
      // height: 509px
  img
    width: 100%
    height: 100%
    object-fit: cover
section#quote-section
  border: solid 20px $secondary-color
  border-top: none
  border-bottom: none
  p
    max-width: 885px
    font-size: 16px
section#mesinjahit
  min-height: 1600px
  & > .container
    margin-top: 150px
  img
    max-width: 640px
    width: 100%
  .img-holder
    position: relative
    display: inline-block
    width: 640px
    .text
      left: 0
      position: absolute
      top: 108%
      width: 860px
      p
        text-align: left
        font-size: 16px
        &:first-child
          max-width: 350px
        &:last-child
          margin-left: 50px
section#our-creative
  background-image: url('../assets/home-bg.jpg')
  min-height: 580px
  background-position: center 60%
  background-size: cover
.float-box
  padding: 42px 30px 55px
  background: #fff
  margin-bottom: 40px
  box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.28)
  p
    font-size: 16px
    max-width: 335px
    text-align: left
    margin-bottom: 40px
section#our-journey
  min-height: 100vh
  padding-bottom: 100px
  h1.hand
    text-align: center
section#about-1
  padding-top: 140px
  img#logo-sketch
    margin: 24px
  #a1-img
    width: calc(370 / 954 * 100%)
    height: auto
    align-self: flex-start
  #a1-content
    max-width: 465px
    h3
      font-size: 24px
      text-align: center
      margin-top: 20px
  div#a2-img
    height: 280px
    overflow: hidden
    position: relative
    margin-bottom: 55px
    img
      width: 100%
      transform: translateY(-28%)
  #a3-img
    max-width: 460px
    align-self: center
  .title-con
    max-width: 420px
    width: 100%
    text-align: center
  #a3-text
    margin-top: 85px
    h3
      // font-size: 24px
    p
      padding: 0
  #a4-img
    width: 100%
    mix-blend-mode: multiply
    margin-top: 50px
  div#a5-img
    width: 780px
    height: 395px
    overflow: hidden
    margin-top: 50px
    margin-bottom: 30px
    img
      width: 100%
      transform: translateY(-18%)
  #a6-img
    width: 550px
    height: 338px
  #a7-img
    width: 397px
    height: 582px
  #a6
    margin-top: 100px
    & > div
      max-width: 550px
      div:last-child
        height: 244px
        p
          max-width: 420px
  #a6-img, #a7-img
    overflow: hidden
    position: relative
    img
      width: 100%
      object-fit: cover

#choosen-for-you
  max-width: 940px
  margin: 0 auto
  margin-top: 60px
  & > div
    width: calc(100% / 4)
    padding: 10px
  .img-holder
    height: 222px
    width: 100%
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  p
    text-transform: uppercase
section#sec-choosen
  padding: 60px 0
.banner #mid-catalog
  transform: translateY(-20%)
#popular-catalog
  max-width: 765px
  margin: 0 auto
  margin-top: 60px
  & > div
    width: calc(100% / 3)
  div.image
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  div.text
    h4
      text-transform: uppercase
    p
      max-width: 200px
      line-height: 1.6
      margin: 20px 0 20px
    // padding: 30px 40px
    // text-align: center
section#popular
  padding: 100px
section#new-product
  padding: 60px 0 100px

  .cards
    margin-top: 70px
    margin-bottom: 60px
    & > div
      padding: 8px
    h3
      font-size: 20px
      letter-spacing: 0
      font-weight: 400
      margin: 0
    p
      margin: 0
      padding: 0
      line-height: 1.7
  .img-holder
    margin-bottom: 10px
    img
      width: 100%
      height: 100%
      object-fit: cover


section.news-content
  img
    width: 100%
    height: 100%
    object-fit: cover
  .img-holder
    height: 457px
    overflow: hidden
  .text, p
    text-align: left
  .text
    max-width: 440px
    padding: 0 72px
  span.text-small
    margin-bottom: 15px
    display: inline-block

.news-list
  padding: 55px 0
  &:last-child
    padding-bottom: 150px
  &:nth-child(odd)
    & > .col-half:first-child
      order: 2
    & > .col-half:last-child
      justify-content: flex-end
      .text, p
        text-align: right

section.cart-main
  padding: 0 50px
  // padding-top: 130px
  padding-bottom: 80px
  background: #fff
  .header-title
    padding: 90px 0 50px
